<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:p="http://typo3.org/ns/Hemmer/Partitions/ViewHelpers">

	<f:section name="Partition">

		<div class="row">
			<div class="col-md-3">
				<f:if condition="{partition.composer}">
					<div>
						<span>Compositeur</span>
						<br/>
						<strong>{partition.composer}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.composerOrigin}">
					<div>
						<span>Compositeur (orig.)</span>
						<br/>
						<strong>{partition.composerOrigin}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.yearOfComposition}">
					<div>
						<span>Année de Composition</span>
						<br/>
						<strong>{partition.yearOfComposition}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.formation}">
					<div>
						<span>Formation</span>
						<br/>
						<strong>{partition.formation}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.voice}">
					<div>
						<span>Voix</span>
						<br/>
						<strong>{partition.voice}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.duration}">
					<div>
						<span>Durée</span>
						<br/>
						<strong>{partition.duration}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.theme}">
					<div>
						<span>Thème</span>
						<br/>
						<strong>{partition.theme}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.tstamp} != '0000-00-00 00:00:00'">
					<div>
						<span>Date modification</span>
						<br/>
						<strong>{partition.tstamp -> f:format.date(format: "d.m.Y")}</strong>
					</div>
					<br/>
				</f:if>
			</div>

			<div class="col-md-3">
				<f:if condition="{partition.author}">
					<div>
						<span>Auteur</span>
						<br/>
						<strong>{partition.author}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.arranger}">
					<div>
						<span>Arrangeur</span>
						<br/>
						<strong>{partition.arranger}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.publicationYear}">
					<div>
						<span>Année publication</span>
						<br/>
						<strong>{partition.publicationYear}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.editor}">
					<div>
						<span>Editeurs</span>
						<br/>
						<strong>{partition.editor}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.reference}">
					<div>
						<span>Référence</span>
						<br/>
						<strong>{partition.reference}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.categories}">
					<div>
						<span>Catégories</span>
						<br/>
						<ul>
							<f:for each="{partition.categories}" as="category">
								<li><strong>{category.title}</strong></li>
							</f:for>
						</ul>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.remark}">
					<div>
						<span>Remarque (non mus.)</span>
						<br/>
						<strong>{partition.remark}</strong>
					</div>
				</f:if>
			</div>


			<div class="col-md-3">
				<f:if condition="{partition.liturgicalSeason}">
					<div>
						<span>Temps liturgique</span>
						<br/>
						<strong>{partition.liturgicalSeason}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.liturgyFunction}">
					<div>
						<span>Fonction liturgique</span>
						<br/>
						<strong>{partition.liturgyFunction}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.accompaniment}">
					<div>
						<span>Accompagnement</span>
						<br/>
						<strong>{partition.accompaniment}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.writingQuality}">
					<div>
						<span>Qualité d'écricure</span>
						<br/>
						<strong>{partition.writingQuality}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.commentDifficulty}">
					<div>
						<span>Commentaire</span>
						<br/>
						<strong>{partition.commentDifficulty}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.difficulty}">
					<div>
						<span>Difficulté</span>
						<br/>
						<strong>{partition.difficulty}</strong>
					</div>
					<br/>
				</f:if>
				<f:if condition="{partition.commentWritingQuality}">
					<div>
						<span>Commentaire</span>
						<br/>
						<strong>{partition.commentWritingQuality}</strong>
					</div>
				</f:if>
			</div>

			<!-- Partition files -->
			<div class="col-md-3">
				<f:if condition="{partition.partitionFiles}">
					<div>Partitions</div>
					<div style="margin-bottom: 20px">
						<f:for each="{partition.partitionFiles}" as="file">
							<div>
								<a href="{p:file.uri(file: '{file}')}" target="_blank">
									<i class="fa fa-lg fa-download"> </i>
									{f:if(condition: "{file.metadata.title}", then: "{file.metadata.title}", else: "Télécharger le fichier")}
								</a>
							</div>
						</f:for>
					</div>
				</f:if>

				<!-- Audio files -->
				<f:for each="{partition.audioFiles}" as="file">
					<div style="margin-bottom: 10px">
						<a href="{p:file.uri(file: '{file}')}" target="_blank">
							<i class="fa fa-lg fa-download"> </i>
							{f:if(condition: "{file.metadata.title}", then: "{file.metadata.title}", else: "Télécharger le fichier")}
						</a>
						<audio controls class="player" preload="metadata">
							<source src="mp3=/{p:file.uri(file: '{file}')}" />
							<a href="{p:file.uri(file: '{file}')}" target="_blank">Téléchargez le fichier .mp3 pour pouvoir l'écouter.</a>
						</audio>
						<br/>
						<span>{file.metadata.description}</span>
					</div>
				</f:for>

				<!-- Youtube video -->
				<f:if condition="{partition.video}">
					<p:file.video video="{partition.video}" />
				</f:if>
			</div>
		</div>

		<hr/>

		<f:if condition="{partition.contributors}">
			<div style="clear: both"></div>
			<h3>Fichiers de travail</h3>

			<!-- Contributors -->
			<f:for each="{partition.contributors}" as="contributor">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">{contributor.firstName} {contributor.lastName}</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<!-- Contributors files -->
							<f:for each="{contributor.audioFiles}" as="file" iteration="fileIterator">
								<f:if condition="{fileIterator.index} % 4">
									<f:else>
										<f:if condition="{fileIterator.isFirst}">
											<f:else>
												</div>
												<div class="row">
											</f:else>
										</f:if>
									</f:else>
								</f:if>

								<div class="col-md-3">
									<div>
										<f:if condition="{file.metadata.title}"><strong>{file.metadata.title}</strong></f:if>
										<f:if condition="{file.metadata.voice}"> ({file.metadata.voice})</f:if>
										<f:if condition="{file.metadata.description}"><p>{file.metadata.description}</p></f:if>
									</div>

									<div class="row" style="margin: 10px 0 20px 0">
										<a href="{p:file.uri(file: '{file}')}" target="_blank">
											<i class="fa fa-lg fa-download"></i>
											{f:if(condition: "{file.metadata.title}", then: "{file.metadata.title}", else: "Télécharger le fichier")}
										</a>
										<audio controls class="player" preload="metadata">
											<source src="mp3=/{p:file.uri(file: '{file}')}" />
											<a href="{p:file.uri(file: '{file}')}" target="_blank">Téléchargez le fichier .mp3 pour pouvoir l'écouter.</a>
										</audio>
									</div>
								</div>
							</f:for>
						</div>
					</div>
				</div>
			</f:for>
		</f:if>

	</f:section>

</div>
