audio.player {
	width: 100%;
	background: #0088cc;
}
.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
.row1 {
	margin-top: 40px;
	padding: 0 10px;
}
.clickable {
	cursor: pointer;
}
.panel-success{
	width: 300px;
	float: left;
	margin-right: 10px;
}
.panel-primary{
	width: 100%;
	float: left;
	margin-right: 10px;
}
.dataTables_wrapper.sticky .row:first-child,
.dataTables_wrapper.sticky thead {
	position: fixed;
	top: 75px;
	padding: 73px 0 6px;
	background: #fff;
	width: 1170px;
	z-index: 999;
}
.dataTables_wrapper.sticky thead {
	top: 188px;
	padding: 0;
	width: 1140px;
}
.dataTables_wrapper .label {
	display: block;
	padding: 0;
	width: 16px;
	height: 16px;
}
.dataTables_wrapper .label-success {
	background: url('../Icons/Success.png') no-repeat;
}
.dataTables_wrapper .label-danger {
	background: url('../Icons/Danger.png') no-repeat;
}
.dataTables_wrapper .label-video {
	background: url('../Icons/Video.png') no-repeat;
}
.fa-sm {
	font-size: 0.8em;
}
