<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/TYPO3/CMS/Vidi/ViewHelpers"
      xmlns:vf="http://typo3.org/ns/Fab/VidiFrontend/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">
	<f:link.page>Retour</f:link.page>
	<div>
		<h2>{partition.title}</h2>
		<hr>
		<f:render partial="Partition" section="Partition" arguments="{partition: partition}"/>
	</div>
	<f:if condition="{partition.relatedPartitions}">
		<div style="clear: both">
			<h2>Partitions liées</h2>
			<hr>
		</div>
		<f:for each="{partition.relatedPartitions}" as="relatedPartition">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">{relatedPartition.title}</h3>
							<span class="pull-right clickable panel-collapsed"><i
									class="glyphicon glyphicon-chevron-down"></i></span>
						</div>
						<div class="panel-body" style="display: none">
							<f:render partial="Partition" section="Partition" arguments="{partition: relatedPartition}"/>
						</div>
					</div>
				</div>
			</div>
		</f:for>
	</f:if>
</f:section>
</html>

